button.btn {
    font-weight: 700;
}

button.btn.button-yellow {
    color: rgb(var(--clr--white));
    background-color: rgb(var(--clr--lightblue));
    text-align: center;
    min-width: 390px;
}

button.btn.button-blue {
    color: rgb(var(--clr--yellow));
    background-color: rgb(var(--clr--blue));
    min-width: fit-content;
}

button.btn.button-lightblue {
    color: rgb(var(--clr--blue));
    background-color: rgb(var(--clr--yellow));
    min-width: fit-content;
}

button.button-yellow,
button.button-blue,
button.button-lightblue {
    font-weight: 500;
    text-align: left;
    border: 0;
    appearance: none;
    isolation: isolate;
    line-height: 1.1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    -ms-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    border-radius: calc(var(--bdr--radius) * 6);
    -webkit-border-radius: calc(var(--bdr--radius) * 6);
    -moz-border-radius: calc(var(--bdr--radius) * 6);
    -ms-border-radius: calc(var(--bdr--radius) * 6);
    -o-border-radius: calc(var(--bdr--radius) * 6);
    box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.15);
    box-sizing: border-box;
    padding: 0;
}

button.button-yellow > .backdrop,
button.button-blue > .backdrop,
button.button-lightblue > .backdrop {
    z-index: 1;
    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    -ms-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    border-radius: calc(var(--bdr--radius) * 6);
    -webkit-border-radius: calc(var(--bdr--radius) * 6);
    -moz-border-radius: calc(var(--bdr--radius) * 6);
    -ms-border-radius: calc(var(--bdr--radius) * 6);
    -o-border-radius: calc(var(--bdr--radius) * 6);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14.5px 20px;
}

button.button-lightblue > .backdrop {
    font-weight: 600;
}

button.btn-with-backdrop > .overlay {
    color: rgb(var(--clr--blue));
    height: 100%;
    background-color: rgb(var(--clr--yellow));
    border-radius: calc(var(--bdr--radius) * 6);
    -webkit-border-radius: calc(var(--bdr--radius) * 6);
    -moz-border-radius: calc(var(--bdr--radius) * 6);
    -ms-border-radius: calc(var(--bdr--radius) * 6);
    -o-border-radius: calc(var(--bdr--radius) * 6);
}

button.button-yellow > .overlay,
button.button-blue > .overlay,
button.button-lightblue > .overlay {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    inset: 0;
    z-index: 5;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    -ms-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
}

button.button-yellow > .overlay {
    font-weight: 700;
}

button.btn-with-backdrop:is(:hover, :focus),
button.button-blue:is(:hover, :focus),
button.button-lightblue:is(:hover, :focus) {
    transition: 250ms ease-out;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -ms-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
}

button.btn-with-backdrop:is(:hover, :focus) > .overlay,
button.button-blue:is(:hover, :focus) > .overlay,
button.button-lightblue:is(:hover, :focus) > .overlay {
    transform: translateY(calc(var(--width--full) + 1px));
    -webkit-transform: translateY(calc(var(--width--full) + 1px));
    -moz-transform: translateY(calc(var(--width--full) + 1px));
    -ms-transform: translateY(calc(var(--width--full) + 1px));
    -o-transform: translateY(calc(var(--width--full) + 1px));
    border-radius: calc(var(--bdr--radius) * 6);
    -webkit-border-radius: calc(var(--bdr--radius) * 6);
    -moz-border-radius: calc(var(--bdr--radius) * 6);
    -ms-border-radius: calc(var(--bdr--radius) * 6);
    -o-border-radius: calc(var(--bdr--radius) * 6);
}

button.btn.header__modal-back-action {
    color: rgb(var(--clr--blue));
    background-color: rgb(var(--clr--lightblue));
    width: 200px;
    min-width: fit-content;
}

button.header__modal-back-action > .overlay {
    color: rgb(var(--clr--blue));
    background-color: rgb(var(--clr--yellow));
}

button.button-blue > .overlay {
    color: rgb(var(--clr--white));
    height: 100%;
    background-color: rgb(var(--clr--blue));
}

button.button-lightblue > .overlay {
    color: rgb(var(--clr--blue));
    height: 100%;
    background-color: rgb(var(--clr--lightblue));
}

button.button-lightblue img {
    width: 20px;
}

.button-group {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button.btn.header__action-button {
    min-width: fit-content;
    border: 0;
    border-radius: calc(var(--bdr--radius) * 6);
    -webkit-border-radius: calc(var(--bdr--radius) * 6);
    -moz-border-radius: calc(var(--bdr--radius) * 6);
    -ms-border-radius: calc(var(--bdr--radius) * 6);
    -o-border-radius: calc(var(--bdr--radius) * 6);
    box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.15);
}

.hero-banner-search-btn > .backdrop,
.hero-banner-search-btn > .overlay,
.hero-banner-search__pharmacy-btn > .backdrop,
.hero-banner-search__pharmacy-btn > .overlay,
.button-lightblue > .backdrop,
.button-lightblue > .overlay {
    text-align: left;
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-banner-search-btn img,
.button-yellow img {
    width: 30px;
}

button.btn.pharmacy-map-search-btn {
    z-index: 9;
}

form#fap-second-search button.btn.pharmacy-map-search-btn {
    border-radius: calc(var(--bdr--radius) * 6);
    -webkit-border-radius: calc(var(--bdr--radius) * 6);
    -moz-border-radius: calc(var(--bdr--radius) * 6);
    -ms-border-radius: calc(var(--bdr--radius) * 6);
    -o-border-radius: calc(var(--bdr--radius) * 6);
}

form#fap-second-search button.btn.pharmacy-map-search-btn i.fa-arrow-right {
    font-size: 30px;
}

.fap-map-popup__actions button.btn {
    min-width: fit-content;
    width: calc(var(--width--full) / 2);
}

button.btn.our-services__more-info   {
    min-width: 170px;
    margin-left: auto;
}

button.our-services__actions > .backdrop,
button.btn.our-services__more-info   > .backdrop {
    width: var(--width--full);
    justify-content: space-between;
}

button.our-services__actions > .overlay,
button.btn.our-services__more-info   > .overlay {
    justify-content: space-between;
}

button.hero-banner-search-btn > .overlay {
    border-radius: calc(var(--bdr--radius) * 6);
    -webkit-border-radius: calc(var(--bdr--radius) * 6);
    -moz-border-radius: calc(var(--bdr--radius) * 6);
    -ms-border-radius: calc(var(--bdr--radius) * 6);
    -o-border-radius: calc(var(--bdr--radius) * 6);
}

button.btn.signup-services-btn,
button.btn.subscribe-services-btn {
    min-width: 200px;
    margin-inline: auto;
}

button.btn.find-a-pharmacy-btn {
    font-size: 21px;
    min-width: 310px !important;
}

button.btn.find-a-pharmacy-btn > .backdrop {
    padding: 8.05px 20px !important;
    gap: 20px !important;
}

button.btn.find-a-pharmacy-btn > .overlay {
    min-width: var(--width--full) !important;
    padding: 12px 20px !important;
    gap: 20px !important;
}

button.btn.find-a-pharmacy-btn i.fa-arrow-right {
    font-size: 30px;
}

button.btn.latest-updates__actions {
    width: 300px;
}

button.btn.latest-updates__actions i.fa-arrow-right {
    font-size: 30px;
}

button.btn.hero-banner-ad__ad-actions {
    width: 100%;
}

button.btn.my-pharmacy-services-btn {
    width: 200px;
    margin-left: auto;
}

button.btn.search-results-btn {
    width: 210px;
}

button.btn.services__actions {
    width: 180px;
}

.pharmacy-single__actions button.btn {
    min-width: 200px;
}

button.btn.search-results-btn > .backdrop,
button.btn.services__actions > .backdrop,
button.btn.my-pharmacy-services-btn > .backdrop,
button.btn.latest-updates__actions > .backdrop,
button.btn.nearest-pharmacy__see-more > .backdrop,
.pharmacy-single__actions button.btn.pharmacy-single__call-now > .backdrop {
    width: var(--width--full);
    justify-content: space-between;
}

button.btn.search-results-btn > .overlay,
button.btn.services__actions > .overlay,
button.btn.my-pharmacy-services-btn > .overlay,
button.btn.latest-updates__actions > .overlay,
button.btn.nearest-pharmacy__see-more > .overlay,
.pharmacy-single__actions button.btn.pharmacy-single__call-now > .overlay {
    justify-content: space-between;
}

button.btn.all-posts__action {
    min-width: 160px;
}

button.btn.related-topics__action-btn {
    margin-left: auto;
}

button.btn.error-body__action {
    width: 350px;
    max-width: var(--width--full);
    margin: 25px auto 15px;
}

button.btn.latest-updates__actions > .backdrop,
button.btn.latest-updates__actions > .overlay {
    padding: 10.05px 20px;
}

.pharmacy-map__scroller-in-map .result-listing-actions button.btn {
    font-size: 16px;
}

.pharmacy-map__scroller-in-map .result-listing-actions button.btn > .backdrop,
.pharmacy-map__scroller-in-map .result-listing-actions button.btn > .overlay {
    padding: 16.25px 20px;
}

.search-modal__input-group button.btn {
    font-size: 20px;
    margin-left: -45px;
}

.search-modal__input-group button.btn.search-modal__search-btn > .backdrop,
.search-modal__input-group button.btn.search-modal__search-btn > .overlay {
    padding: 15.5px 20px;
}