.error-body {
    background: rgb(255, 249, 233) url(../../img/pattern-news-background.svg) 0 0;
    background-size: 400px;
    margin-top: -30px;
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
}

.error-body__container {
    padding-top: 30px;
}

.error-body__wrapper {
    text-align: center;
}

.error-body__wrapper .error-body__404-title {
    font-size: clamp(60px, 5vw, 110px);
}

.error-body__wrapper .error-body__link-list {
    text-align: left;
    width: var(--width--full);
    max-width: 500px;
    margin: 75px auto 15px;
}