.pharmacy-map__filter-dragger {
    background-color: rgb(var(--clr--blue));
    padding: 15px;
    margin-bottom: 20px;
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
    display: flex;
    align-items: center;
}

.pharmacy-map__filter-details,
.pharmacy-map__filter-dragging-bar {
    width: calc(var(--width--full) / 2);
}

.pharmacy-map__filter-details {
    padding: 5px 20px 5px 35px;
    border-right: 2px solid rgb(var(--clr--white));
}

.pharmacy-map__filter-dragging-bar {
    padding: 5px 35px 5px 20px;
}

.pharmacy-map__available-pharmacies,
.pharmacy-map__pharmacy-radius {
    color: rgb(var(--clr--white));
}

.pharmacy-map__pharmacy-radius {
    margin-bottom: 0;
}

.pharmacy-map__slider-container {
    text-align: center;
    color: rgb(var(--clr--white));
}

label.pharmacy-map__slider-container-label {
    font-size: 16px;
    letter-spacing: 2px;
    text-align: left;
    display: block;
}

.pharmacy-map__slider-wrapper {
    position: relative;
    margin: 50px auto 0;
    width: calc(var(--width--full) * .75);
}

.pharmacy-map__slider-label {
    position: absolute;
    top: -40px;
    left: calc(((100% / 60) * 15) + 5px);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: rgb(var(--clr--yellow));
    color: rgb(var(--clr--black));
    font-weight: bold;
    border-radius: var(--bdr--radius--round);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.pharmacy-map__slider-label:after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 15px 0 15px;
    border-color: rgb(var(--clr--yellow)) transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    left: 0;
    top: 19px;
    z-index: -1;
}

.pharmacy-map__slider {
    -webkit-appearance: none;
    appearance: none;
    width: var(--width--full);
    height: 4px;
    background: linear-gradient(to right, rgb(var(--clr--yellow)) 0%, rgb(var(--clr--yellow)) 25%, rgba(var(--clr--lightblue), .4) 25%, rgba(var(--clr--lightblue), .4) 100%);
    outline: none;
    position: relative;
    z-index: 9;
    border-radius: var(--bdr--radius);
    -webkit-border-radius: var(--bdr--radius);
    -moz-border-radius: var(--bdr--radius);
    -ms-border-radius: var(--bdr--radius);
    -o-border-radius: var(--bdr--radius);
}

.pharmacy-map__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(var(--clr--yellow));
    cursor: pointer;
    border-radius: var(--bdr--radius--round);
}

.pharmacy-map__slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: rgb(var(--clr--yellow));
    cursor: pointer;
    border-radius: var(--bdr--radius--round);
}

.pharmacy-map__slider-scale {
    display: flex;
    justify-content: space-between;
    color: rgb(var(--clr--white));
    position: absolute;
    top: 4px;
    left: -65px;
    z-index: 0;
    width: calc(var(--width--full) + 140px);
}

.min-value, .max-value {
    font-weight: bold;
}