.hero-banner {
    min-height: 90vh;
    width: var(--width--full);
    background-color: rgba(215, 216, 216, 0.22);
    padding-top: 30px;
    margin-top: -30px;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;

}

.hero-banner .hero-banner__banner-image {
    width: var(--width--full);
    height: 100%;
    object-position: 0 0;
    object-fit: cover;
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
    position: absolute;
    top: 0;
    left: 0;
}

.hero-banner__search-column {
    position: relative;
    z-index: 99;
}

.hero-banner-ad {
    width: var(--width--full);
    max-width: 430px;
    padding: 20px;
    background-color: rgba(var(--clr--lightblue), .65);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
    box-shadow: var(--box--shadow) rgba(var(--clr--black), 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.hero-banner-ad__ad-wrapper {
    max-height: none;
    overflow: hidden;
    opacity: 1;
    transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -webkit-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -moz-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -ms-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -o-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
}

.hero-banner-ad__ad-wrapper.fade-out {
    opacity: 0;
    max-height: 0;
    transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -webkit-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -moz-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -ms-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
    -o-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
}

.hero-banner-ad__title {
    color: rgb(var(--clr--white));
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.hero-banner-ad__title .hero-banner-ad__title-text {
    margin-bottom: 0;
}

.hero-banner-ad__title .custom-icons__chevron-circle {
    color: rgb(var(--clr--yellow));
}

.hero-banner-ad__title .custom-icons__chevron-icon {
    color: rgb(var(--clr--blue));
}

span.hero-banner-ad__ad-toggle {
    cursor: pointer;
}

span.hero-banner-ad__ad-toggle:hover .custom-icons__chevron-circle {
    color: rgb(var(--clr--lightblue));
}

.hero-banner-ad__ad-wrapper {
    display: flex;
    gap: 20px;
}

.hero-banner-ad__ad-thumb {
    width: 170px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    overflow: hidden;
}

.hero-banner-ad__ad-thumb img {
    width: var(--width--full);
    height: 100%;
    object-fit: cover;
    object-position: calc(var(--width--full) / 2);
}

.hero-banner-ad__ad-content {
    width: calc(var(--width--full) - 180px);
    color: rgb(var(--clr--white));
    font-size: 16px;
    line-height: 1.3;
}

.hero-banner-ad__ad-content-title {
    font-size: clamp(23px, 1.5vw, 38px);
}

.hero-banner-ad__ad-content-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Find a Pharmacy Search */
.hero-banner-search__wrapper {
    text-align: center;
    background: rgba(var(--clr--white), 0.8);
    padding: 60px;
    margin-block: 50px;
    border: 1px solid rgb(var(--clr--white));
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

.hero-banner-search__title {
    width: var(--width--full);
    max-width: 550px;
    margin-inline: auto;
}

.hero-banner-search__title-wrapper {
    width: var(--width--full);
    max-width: 550px;
    margin-inline: auto;
}