::-webkit-input-placeholder {
    color: rgb(var(--clr--blue)) !important;
}

::-moz-placeholder {
    color: rgb(var(--clr--blue)) !important;
}

:-ms-input-placeholder {
    color: rgb(var(--clr--blue)) !important;
}

.fap-input {
    color: rgb(var(--clr--blue)) !important;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 30px;
    background-color: rgb(var(--clr--white));
    border: 2px solid rgb(var(--clr--blue));
}

.fap-input:focus {
    border: 2px solid rgb(var(--clr--lightblue));
}

input.fap-input,
select.fap-input {
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

textarea.fap-input {
    border-radius: calc(var(--bdr--radius) * 2);
    -webkit-border-radius: calc(var(--bdr--radius) * 2);
    -moz-border-radius: calc(var(--bdr--radius) * 2);
    -ms-border-radius: calc(var(--bdr--radius) * 2);
    -o-border-radius: calc(var(--bdr--radius) * 2);
}

#fap-dropdown-list .search-filter-input,
#search-dropdown-list .search-filter-input {
    padding-top: 5px;
    padding-bottom: 8px;
}

.search-filter-input {
    font-size: 16px;
    position: sticky;
    top: 0px;
}

.search-seperator {
    position: relative;
    width: 2px;
}

.search-seperator:after {
    content: "";
    width: 2px;
    height: 40px;
    background-color: rgb(var(--clr--blue));
    position: absolute;
    top: calc(var(--width--full) / 2);
    left: calc(var(--width--full) / 2);
    z-index: 9;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.fap-search-panel input.fap-input:nth-of-type(1) {
    border-right: 0;
}

.fap-search-panel input.fap-input:nth-of-type(1):focus {
    border-right: 2px solid rgb(var(--clr--lightblue));
}

.fap-search-panel input.fap-input:nth-of-type(2) {
    border-left: 0;
}

.fap-search-panel input.fap-input:nth-of-type(2):focus {
    border-left: 2px solid rgb(var(--clr--lightblue));
}

.search-service {
    background: rgb(var(--clr--white)) url("../../img/icon-chevron-down.svg") no-repeat calc(var(--width--full) - 20px) calc(var(--width--full) - 15px);
    background-size: 15px;
}

.pharmacy-map__search-service {
    background-position: calc(var(--width--full) - 40px) calc(var(--width--full) - 15px);
}

.search-filter-input {
    background: rgb(var(--clr--lightyellow)) url("../../img/icon-magnifying-glass.svg") no-repeat calc(var(--width--full) - 13px) calc(var(--width--full) - 13px);
    background-size: 15px;
}

.pharmacy-map__search-wrapper {
    width: calc(var(--width--full) * .8);
    margin: 0 10% 40px;
}

.pharmacy-map__search-service {
    margin-right: -30px;
}

select.fap-input {
    padding-right: 40px;
    background-image: url("../../img/icon-chevron-down.svg");
    background-position: calc(var(--width--full) - 20px) calc(var(--width--full) - 15px);
    background-repeat: no-repeat;
    background-size: 15px;
}

select.pharmacy-map__filter-results {
    width: calc(var(--width--full) - 70px);
    padding-inline: 40px;
    background-image: url("../../img/icon-sliders.svg"), url("../../img/icon-chevron-down.svg");
    background-position: 16px 19px, calc(var(--width--full) - 16px) calc(var(--width--full) - 20px);
    background-repeat: no-repeat;
    background-size: 15px;
}

.search-input {
    background: rgb(var(--clr--white)) url("../../img/icon-magnifying-glass.svg") no-repeat 20px 13px;
    background-size: 20px;
    padding: 11px 50px !important;
}

form#service-search .search-input {
    background-color: rgb(var(--clr--white));
    padding: 11px 45px 11px 15px;
}

.search-modal__input-group input.search-modal__search-input {
    padding-block: 12.5px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
