@media only screen and (max-width: 1440px) {
    .pharmacy-map__search-panel .search-dropdown {
        width: 40%;
        left: calc((var(--width--full) / 3) + 8%);
    }
}

@media only screen and (max-width: 1199px) {
    .header__menu-item {
        padding: 25px 7px;
    }

    .hero-banner-ad {
        max-width: 350px;
    }

    .hero-banner-ad__ad-wrapper {
        flex-direction: column;
    }

    .hero-banner-ad__ad-thumb,
    .hero-banner-ad__ad-content {
        width: var(--width--full);
    }

    .hero-banner-ad__ad-thumb,
    .services__image,
    .state-tabular-image {
        height: 150px;
    }

    .trending-topics__column .trending-topics__wrapper {
        width: var(--width--full);
    }

    .breadscrumb-hero,
    .colored-breadcrumb .breadscrumb-hero {
        height: 400px;
    }

    .services__sub-item {
        padding: 10px;
    }

    .others__list-wrapper {
        padding: 15px;
    }

    form#service-search,
    .breadscrumb__search form#breadscrumb-search {
        width: var(--width--full);
        margin: 35px 0 0 0;
    }

    .search-actions-two-buttons {
        flex-direction: column;
    }

    section.my-pharmacy .my-pharmacy__image-wrapper {
        height: 550px;
        background-position: 50% 0 !important;
    }

    .pharmacy-map__search-panel .search-dropdown {
        width: 40%;
        left: calc((var(--width--full) / 3) + 6%);
    }

    .grid-four-items > * {
        width: calc((var(--width--full) / 3) - 17px);    
    }

    .grid-three-items > * {
        width: calc((var(--width--full) / 2) - 13px);    
    }

    .related-topics__item {
        flex-direction: column;
        gap: 15px
    }

    .related-topics__item img {
        width: var(--width--full);
    }

    .breadscrumb.centered-breadscrumb .breadscrumb-hero {
        min-height: 250px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .two-column-section {
        column-count: 1;
        column-gap: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1019px) {
    .pharmacy-map__scroller-in-map .open-status__schedule {
        left: 0;
        right: inherit;
    }
}

@media only screen and (min-width: 992px) {
    .collapse.navbar-collapse:not(.show) {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .header__container {
        flex-wrap: wrap;
        padding-block: 1rem;
    }

    .header__logo,
    .header__logo-link {
        max-width: 210px;
    }

    nav.header__nav {
        width: var(--width--full);
    }

    .header__collapse-menu,
    ul.header__menu {
        flex-direction: column;
    }

    .header__menu-item {
        text-align: right;
        padding: 7px 15px;
    }

    .header__menu-link {
        justify-content: flex-end;
    }

    .header__actions {
        width: var(--width--full);
    }

    .header__action-button {
        flex-grow: 1;
    }

    .header__mega-menu {
        position: relative;
        margin-top: 10px;
    }

    .header__mega-menu.active {
        display: block !important;
    }

    .header__mega-menu__grid {
        row-gap: 12px;
    }

    .header__modal-row {
        row-gap: 15px;
    }

    .header__modal-title {
        width: calc(var(--width--full) - 60px);
    }

    .header__nav .header__menu-item__has-megamenu:hover .header__mega-menu,
    .header__nav .header__menu-item__has-megamenu .header__menu-link:after {
        display: none;
    }

    .breadscrumb-hero {
        height: 300px;
    }

    .colored-breadcrumb .breadscrumb-hero {
        height: auto;
    }

    .breadscrumb.centered-breadscrumb .breadscrumb-hero {
        min-height: auto;
    }

    .footer__container {
        gap: 25px;
    }

    .footer__logo-image {
        max-width: 210px;
    }

    .hero-banner-search__wrapper {
        margin-top: 350px;
        margin-bottom: 20px;
        padding: 25px;
    }

    .fap-search-panel {
        flex-direction: column;
        gap: 10px;
    }

    .search-seperator:after {
        display: none;
    }

    form#fap-main-search .fap-search-panel input.fap-input {
        width: var(--width--full);
        border: 2px solid rgb(var(--clr--blue));
        border-radius: calc(var(--bdr--radius) * 3);
        -webkit-border-radius: calc(var(--bdr--radius) * 3);
        -moz-border-radius: calc(var(--bdr--radius) * 3);
        -ms-border-radius: calc(var(--bdr--radius) * 3);
        -o-border-radius: calc(var(--bdr--radius) * 3);
}

    .hero-banner-ad {
        position: unset;
        margin-bottom: 15px;
        max-width: var(--width--full);
    }

    .search-dropdown {
        width: var(--width--full);
        left: 0;
    }

    .result-listing-single-item {
        flex-wrap: wrap;
    }

    .result-listing-details {
        width: calc(var(--width--full) - 65px);
    }

    .result-listing-actions {
        width: var(--width--full);
    }

    .pharmacy-map__filter-dragger {
        flex-direction: column;
    }

    .pharmacy-map__filter-details,
    .pharmacy-map__filter-dragging-bar {
        width: var(--width--full);
        text-align: center;
    }

    .pharmacy-map__filter-details {
        border-right: 0;
        border-bottom: 2px solid rgb(var(--clr--white));
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    label.pharmacy-map__slider-container-label {
        text-align: center;
    }
    
    .pharmacy-map__search-wrapper {
        background-color: rgb(var(--clr--white));
        padding: 25px;
        border-radius: calc(var(--bdr--radius) * 3);
        -webkit-border-radius: calc(var(--bdr--radius) * 3);
        -moz-border-radius: calc(var(--bdr--radius) * 3);
        -ms-border-radius: calc(var(--bdr--radius) * 3);
        -o-border-radius: calc(var(--bdr--radius) * 3);
    }

    .pharmacy-map__search-wrapper {
        width: var(--width--full);
        margin: 0 0 10px;
        position: relative;
    }

    .pharmacy-map__search-wrapper.filter-opened {
        position: relative;
        margin-bottom: -203px;
        z-index: 99;
    }

    .pharmacy-map__search-wrapper.filter-closed {
        padding: 12px 0;
        background-color: transparent;
    }

    .pharmacy-map__search-wrapper .pharmacy-map__search-wrapper-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }

    .pharmacy-map__search-wrapper.filter-closed form#fap-second-search {
        display: none;
    }

    .pharmacy-map__search-panel .search-dropdown {
        width: var(--width--full);
        left: 0;
        top: calc((var(--width--full) / 3) * 2);
    }

    .fap-map-container {
        flex-direction: column-reverse;
    }

    .pharmacy-map__scroller-in-map,
    #fap-map {
        width: var(--width--full) !important;
    }

    .trending-topics__column .trending-topics__wrapper {
        text-align: center;
        width: var(--width--full);
        padding-inline: 10px;
        flex-direction: column;
        gap: 25px;
    }

    .trending-topics__column .trending-topics__wrapper .trending-topics__title-wrapper {
        width: var(--width--full);
    }

    .trending-topics__column .trending-topics__seperator {
        width: calc(var(--width--full) * .96);
        height: 2px;
    }

    .latest-updates__title-wrapper .latest-updates__title,
    .our-services__title-wrapper .fap-card-title {
        width: 270px;
    }

    .latest-updates__title-wrapper .latest-updates__description,
    form#fap-service-search {
        width: calc(var(--width--full) - 320px);
    }

    .hero-banner-ad__ad-wrapper {
        max-height: 0;
        opacity: 0;
        transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
        -webkit-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
        -moz-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
        -ms-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
        -o-transition: max-height var(--anim--easeinout), opacity var(--anim--easeinout);
}

    .hero-banner-ad__ad-wrapper.fade-out {
        max-height: 0;
    }

    .tabular-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .tabular-pills {
        width: var(--width--full);
        flex-direction: row !important;
        justify-content: center;
    }

    .state-tabular__nav {
        flex-wrap: wrap;
    }

    .tabular-pills .tabular-pills-link {
        font-size: 16px;
        padding: 5px 15px;
        margin: 5px;
        width: fit-content;
        gap: 5px;
    }

    .tabular-pills .state-tabular__nav-link.tabular-pills-link {
        padding: 15px;
    }

    .tab-content:after {
        display: none;
    }

    .tab-content {
        width: var(--width--full);
    }

    .signup__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .signup__title-wrapper,
    .fap-form-wrapper {
        width: var(--width--full);
    }

    .breadscrumb .breadscrumb__container .breadscrumb__title-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    
    .breadscrumb .breadscrumb__container .breadscrumb__title-wrapper > * {
        width: var(--width--full);
    }

    .related-services__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .related-services__wrapper .related-services__title-wrapper,
    .related-services__wrapper .services__sub-services {
        width: var(--width--full);
    }

    .related-services__wrapper .related-services__title {
        margin-top: 0;
    }

    .pharmacy-map__filter-details {
        padding: 5px 15px;
    }

    .fap-search-panel input.fap-input {
        width: var(--width--full);
        background-color: rgb(var(--clr--white));
        border: 2px solid rgb(var(--clr--blue)) !important;
        border-radius: calc(var(--bdr--radius) * 3) !important;
        -webkit-border-radius: calc(var(--bdr--radius) * 3) !important;
        -moz-border-radius: calc(var(--bdr--radius) * 3) !important;
        -ms-border-radius: calc(var(--bdr--radius) * 3) !important;
        -o-border-radius: calc(var(--bdr--radius) * 3) !important;
    }

    .pharmacy-map__search-service {
        background-position: calc(var(--width--full) - 20px) calc(var(--width--full) - 15px);
    }

    .state-tabular__nav-link .state-tabular__image-wrapper {
        width: 50px;
        height: 100%;
    }

    .state-tabular__nav-link .state-tabular__nav-image {
        width: 50px;
        height: 50px;
    }

    .state-tabular__nav-link {
        justify-content: space-between;
    }

    .state-tabular__nav-link .state-tabular__nav-title p.state-tabular__nav-name {
        white-space: unset;
    }

    .nav-pills .nav-link.state-tabular__nav-link {
        width: calc((var(--width--full) / 2) - 10px) !important;
    }

    .tabular-button-container {
        width: var(--width--full);
        margin-top: 15px;
    }

    .grid-four-items > * {
        width: calc((var(--width--full) / 2) - 13px);    
    }

    .all-posts .all-posts__filter {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .all-posts__filter-wrapper {
        background-color: rgb(var(--clr--white));
        width: var(--width--full);
        padding: 70px 20px 20px 20px;
        box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.15);
        border-radius: calc(var(--bdr--radius) * 3);
        -webkit-border-radius: calc(var(--bdr--radius) * 3);
        -moz-border-radius: calc(var(--bdr--radius) * 3);
        -ms-border-radius: calc(var(--bdr--radius) * 3);
        -o-border-radius: calc(var(--bdr--radius) * 3);
        display: none !important;
        position: absolute;
        z-index: 9;
    }

    .all-posts__filter-wrapper.filter-opened {
        display: block !important;
    }

    .all-posts__filter-wrapper .fap-input,
    .all-posts__filter-wrapper button.btn.all-posts__action {
        width: var(--width--full) !important;
        margin-bottom: 10px;
    }

    .two-column-section {
        column-count: 1;
        column-gap: 0;
    }

    .related-topics .related-topics__container .related-topics__wrapper {
        flex-direction: column;
    }

    .related-topics .related-topics__container .related-topics__wrapper .related-topics__action-wrap,
    .related-topics .related-topics__container .related-topics__wrapper .related-topics__services {
        width: var(--width--full);
    }
}

@media only screen and (max-width: 767px) {
    button.header__modal-action {
        min-width: auto !important;
        width: var(--width--full);
    }

    button.header__modal-back-action {
        width: 200px;
    }

    .hero-banner-ad__ad-wrapper {
        flex-direction: column;
    }

    .hero-banner-ad__ad-thumb,
    .hero-banner-ad__ad-thumb img,
    .hero-banner-ad__ad-content {
        width: var(--width--full);
    }

    .hero-banner-ad__ad-thumb,
    .hero-banner-ad__ad-thumb img {
        height: 100px;
    }

    .hero-banner {
        background-position: -100px 0;
    }

    .fap-map-popup {
        width: var(--width--full);
    }

    .search-actions-two-buttons {
        flex-direction: column;
    }

    .fap-map-popup__actions button.btn {
        width: var(--width--full);
    }

    section.my-pharmacy .my-pharmacy__image-wrapper {
        height: 450px;
    }

    section.my-pharmacy .my-pharmacy__container-wrapper {
        padding: 15px;
    }

    section.my-pharmacy .my-pharmacy__content-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    section.my-pharmacy .my-pharmacy__content-wrapper .my-pharmacy__content,
    section.my-pharmacy .my-pharmacy__content-wrapper .my-pharmacy__action {
        width: var(--width--full);
    }

    .latest-updates__column-wrapper {
        padding: 25px 5px;
    }

    .latest-updates__title-wrapper,
    .our-services__title-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .latest-updates__title-wrapper .latest-updates__title,
    .latest-updates__title-wrapper .latest-updates__description,
    .our-services__title-wrapper .fap-card-title,
    form#fap-service-search {
        width: var(--width--full);
    }

    form#service-search,
    .breadscrumb__search form#breadscrumb-search {
        width: var(--width--full);
    }

    .breadscrumb__search form#breadscrumb-search {
        margin: 0;
    }
    
    .open-status__schedule {
        left: 0;
        right: inherit;
    }

    .others__content {
        column-count: 1;
        column-gap: 0;
    }

    .fap-form-wrapper {
        padding: 25px 15px;
    }

    .fap-form-footer {
        width: var(--width--full);
        margin: 20px 0;
    }

    form#service-search .search-wrapper,
    .breadscrumb__search form#breadscrumb-search .search-wrapper {
        flex-direction: column;
        gap: 10px;
    }

    form#service-search .search-wrapper button.btn,
    .breadscrumb__search form#breadscrumb-search .search-wrapper button.btn {
        margin: 0;
    }

    .single-service__wrapper {
        column-count: 1;
        column-gap: 0;
    }

    .fap-results-item {
        padding: 15px;
        flex-direction: column;
        gap: 15px;
    }

    .fap-results-item img {
        width: 100%;
    }

    .latest-updates__title-wrapper .latest-updates__description .latest-updates__text-description {
        margin-top: 0;
    }

    .pharmacy-map__search-result-scroller {
        padding-inline: 12px;
    }

    .result-listing-single-item {
        padding: 15px;
    }

    button.btn.find-a-pharmacy-btn {
        font-size: 18px;
        min-width: fit-content !important;
        width: var(--width--full);
    }

    button.btn.latest-updates__actions {
        width: fit-content !important;
        width: var(--width--full);
    }

    .trending-topics__column .trending-topics__trending-icon-items .trending-topics__trending-icons {
        width: 40px;
        height: 40px;
        border-radius: calc(var(--bdr--radius) * 1);
        -webkit-border-radius: calc(var(--bdr--radius) * 1);
        -moz-border-radius: calc(var(--bdr--radius) * 1);
        -ms-border-radius: calc(var(--bdr--radius) * 1);
        -o-border-radius: calc(var(--bdr--radius) * 1);
    }

    .services__sub-services .services__sub-icon {
        width: 50px;
        height: 50px;
    }

    .services__sub-services .services__sub-icon img {
        width: 25px;
        height: 25px;
    }

    .others__title,
    .related-services__title,
    .services__sub-item {
        text-align: center;
    }

    .services__sub-services .services__sub-icon {
        margin-inline: auto;
    }

    .services__sub-services button.btn.services__actions {
        margin-inline: auto;
    }

    .interactive-map__title {
        position: unset;
        width: var(--width--full);
    }

    .interactive-map__top-text,
    .interactive-map__bottom-text {
        position: unset;
        width: var(--width--full);
        padding: 15px;
    }

    .nav-pills .nav-link.state-tabular__nav-link {
        width: var(--width--full)  !important;
    }

    .state-tabular__nav-link .state-tabular__nav-title {
        width: calc(var(--width--full) - 120px);
    }

    .state-tabular__tab-pane {
        padding: 20px;
    }

    .state-tabular__tab-pane .state-tabular__tag-name {
        margin-left: -20px;
    }

    .pharmacy-single__column {
        flex-direction: column;
    }

    .fap-pharmacy__left-column,
    .fap-pharmacy__right-column {
        width: var(--width--full);
    }

    .nearest-pharmacy__column-wrapper {
        padding: 35px 20px;
    }

    button.btn.nearest-pharmacy__see-more {
        min-width: auto;
        width: var(--width--full);
    }

    .grid-three-items > *,
    .grid-four-items > * {
        width: var(--width--full);    
    }
    
    .related-topics .related-topics__container .related-topics__wrapper .related-topics__action-wrap {
        padding: 25px;
    }

    .tabular-pills .tabular-pills-link {
        gap: 15px;
    }

    header.header,
    .breadscrumb-hero,
    .breadscrumb-hero:after {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
    }

    .breadscrumb .breadscrumb__container .breadscrumb__page-title span.breadscrumb__sub-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .trending-topics__column .trending-topics__trending-icon-items .trending-topics__trending-icon-text {
        line-height: 1.2;
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .result-listing-details,
    button.our-services__actions,
    button.my-pharmacy__pharmacy-btn,
    button.latest-updates__actions {
        width: var(--width--full);
        min-width: var(--width--full) !important;
    }

    .breadscrumb-hero {
        height: 300px;
    }

    .breadscrumb-hero:after {
        opacity: .75;
    }

    .colored-breadcrumb .breadscrumb-hero {
        height: auto;
        padding-top: 55px;
    }

    .breadscrumb-nav.breadscrumb-nav__with-search {
        padding-block: 20px;
    }

    .subscribe__wrapper {
        padding: 15px;
    }

    .breadscrumb .breadscrumb__container {
        padding: 15px 10px;
    }

    .breadscrumb .breadscrumb__container .breadscrumb__title-wrapper {
        gap: 0;
    }

    section.my-pharmacy .my-pharmacy__content-wrapper .my-pharmacy__content {
        text-align: center;
    }

    .tabular-button-container .tabular-button-wrapper .tabular-button-link {
        width: 100%;
    }
    
    .trending-topics__column .trending-topics__icons-wrapper {
        max-width: 320px;
        justify-content: center;
    }

    .grid-five-items {
        gap: 10px;
    }

    .grid-five-items > * {
        width: calc((var(--width--full) / 3) - 7px);    
    }
}

@media only screen and (max-width: 480px) {
    .pharmacy-map__slider-scale {
        left: -50px;
        width: calc(var(--width--full) + 105px);
    }

    span.open-status {
        display: block;
    }

    .pharmacy-map__scroller-in-map .open-status__schedule {
        left: 0;
        right: inherit;
    }
}

@media only screen and (max-width: 370px) {
    .pharmacy-map__search-results .open-status__schedule,
    .nearest-pharmacy__column-wrapper .open-status__schedule {
        left: 0;
        right: inherit;
    }
}

@media only screen and (max-width: 340px) {
    .pharmacy-map__scroller-in-map .open-status__schedule {
        left: 0;
        right: inherit;
    }
}