.my-pharmacy__column {
    position: relative;
}

section.my-pharmacy img.my-pharmacy__background-image {
    width: var(--width--full);
    height: 700px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

section.my-pharmacy .my-pharmacy__wrapper {
    position: relative;
}

.my-pharmacy__image-wrapper {
    position: relative;
}

section.my-pharmacy .my-pharmacy__container-wrapper {
    width: var(--width--full);
    height: 400px;
    padding: 50px;
    background: transparent linear-gradient(180deg, rgba(var(--clr--lightblue), 0) 0%, rgb(var(--clr--blue)) 100%);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

section.my-pharmacy .my-pharmacy__content-wrapper {
    color: rgb(var(--clr--white));
    width: var(--width--full);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 25px;
}

section.my-pharmacy .my-pharmacy__content-wrapper p {
    margin-bottom: 0;
}

section.my-pharmacy .my-pharmacy__content-wrapper .my-pharmacy__content {
    width: calc(var(--width--full) - 325px);
}

section.my-pharmacy .my-pharmacy__content-wrapper .my-pharmacy__action .my-pharmacy__pharmacy-btn {
    min-width: auto;
}

/* ----- My Pharmacy Page ----- */
.my-pharmacy-page {
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
}