.latest-updates__column-wrapper {
    background: rgb(var(--clr--lightyellow)) url("../../img/pattern-news-background.svg") 0 0;
    background-size: 400px;
    padding: 50px;
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

.latest-updates__title-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.latest-updates__title-wrapper .latest-updates__title {
    width: 300px;
}

.section-subtitle {
    font-size: 15px;
    text-transform: uppercase;
    display: block;
}

.latest-updates__title-wrapper .latest-updates__description {
    width: calc(var(--width--full) - 350px);
}

.latest-updates__title-wrapper .latest-updates__description .latest-updates__text-description {
    font-size: clamp(18px, 1.1vw, 27px);
    margin-top: 45px;
}

.latest-updates__news-wrapper {
    margin-bottom: 25px;
}

.latest-updates__news-wrapper .latest-updates__news-item {
    padding: 20px;
    background-color: rgb(var(--clr--white));
    box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.1);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

.latest-updates__news-wrapper .latest-updates__news-item:hover {
    background-color: rgba(var(--clr--lightblue), .4);
}

.latest-updates__news-wrapper .latest-updates__news-item .latest-updates__news-image {
    width: var(--width--full);
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.1);
    border-radius: calc(var(--bdr--radius) * 2);
    -webkit-border-radius: calc(var(--bdr--radius) * 2);
    -moz-border-radius: calc(var(--bdr--radius) * 2);
    -ms-border-radius: calc(var(--bdr--radius) * 2);
    -o-border-radius: calc(var(--bdr--radius) * 2);
}

.latest-updates__news-wrapper .latest-updates__news-item .latest-updates__news-title {
    font-size: clamp(18px, 1.1vw, 27px);
}

.latest-updates__news-wrapper .latest-updates__news-item .latest-updates__news-description {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.latest-updates__news-wrapper .latest-updates__news-item .latest-updates__news-link {
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(var(--clr--blue));
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin-left: auto;
}

.latest-updates__news-wrapper .latest-updates__news-item .latest-updates__news-link i.news-link-icon {
    width: 0;
    margin-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.latest-updates__news-wrapper .latest-updates__news-item:hover .latest-updates__news-link,
.latest-updates__news-wrapper .latest-updates__news-item .latest-updates__news-link:hover {
    color: rgb(var(--clr--blue));
}

.latest-updates__news-wrapper .latest-updates__news-item:hover .latest-updates__news-link  i.news-link-icon,
.latest-updates__news-wrapper .latest-updates__news-item .latest-updates__news-link:hover  i.news-link-icon {
    visibility: visible;
    opacity: 1;
    width: auto;
    margin-left: 5px;
}