.owl-stage {
    display: flex;
    margin: 0 auto;
}

.owl-stage-outer {
    padding-bottom: 20px;
    overflow: hidden;
}

.owl-stage .owl-item {
    padding: 15px;
}

[class*="owl-"] .disabled {
    display: none;
}

.owl-nav {
    width: fit-content;
    margin-left: auto;
    margin-block: 15px;
    display: flex;
    gap: 8px;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
    color: rgb(var(--clr--blue));
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    padding: 0;
    background-color: rgb(var(--clr--yellow));
    border: 0;
    border-radius: var(--bdr--radius--round);
    -webkit-border-radius: var(--bdr--radius--round);
    -moz-border-radius: var(--bdr--radius--round);
    -ms-border-radius: var(--bdr--radius--round);
    -o-border-radius: var(--bdr--radius--round);
}

.our-services-wrapper .owl-nav button.owl-prev,
.our-services-wrapper .owl-nav button.owl-next {
    color: rgb(var(--clr--blue));
    background-color: rgb(var(--clr--lightblue));
}