.search-results {
    background-color: rgb(246, 247, 247);
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
}

.search-results-wrapper {
    margin-bottom: 35px;
}

.fap-results-item {
    background-color: rgb(var(--clr--white));
    padding: 25px;
    margin-bottom: 35px;
    display: flex;
    align-items: flex-start;
    gap: 35px;
    box-shadow: var(--box--shadow) rgba(var(--clr--black), 0.1);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

.fap-results-item:last-of-type {
    margin-bottom: 0;
}

.fap-results-item:hover {
    background-color: rgb(var(--clr--lightyellow));
}

.fap-results-item img {
    width: 250px;
    height: 160px;
    object-fit: cover;
    box-shadow: var(--box--shadow) rgba(var(--clr--black), 0.1);
    border-radius: calc(var(--bdr--radius) * 2);
    -webkit-border-radius: calc(var(--bdr--radius) * 2);
    -moz-border-radius: calc(var(--bdr--radius) * 2);
    -ms-border-radius: calc(var(--bdr--radius) * 2);
    -o-border-radius: calc(var(--bdr--radius) * 2);
}

.fap-results-item .fap-results-item-title {
    font-size: clamp(23px, 1.5vw, 38px);
}