.pharmacy-map__search-results {
    padding: 15px;
    position: relative;
}

.pharmacy-map__search-result-scroller {
    padding-inline: 8%;
    padding-bottom: 45px;
    max-height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.result-listing-single-item {
    background-color: rgb(var(--clr--white));
    padding: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.1);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
    display: flex;
    gap: 15px;
}

.result-listing-single-item:hover {
    background-color: rgb(var(--clr--lightyellow));
}

.single-service-map .result-listing-single-item:hover {
    background-color: rgba(var(--clr--yellow), .3);
}

.result-listing-icon img {
    width: 50px;
}

.result-listing-details {
    width: 40%;
}

.result-listing-details .result-listing-pharmacy-name {
    font-size: clamp(18px, 1.1vw, 27px);
}

.result-listing-content {
    margin-bottom: 7px;
}

span.open-status {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

span.open-status__opened {
    color: rgb(30, 191, 116);
}

span.open-status__closed {
    color: rgb(191, 30, 70);
}

a.result-listing-call-now {
    color: rgb(var(--clr--lightblue));
    display: inline-block;
}

span.open-status__schedule-time {
    display: block;
    color: rgb(var(--clr--blue));
}

.open-status__schedule {
    display: none;
    width: 220px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    background-color: rgb(var(--clr--lightyellow));
    box-shadow: 0px 8px 16px 0px rgba(var(--clr--black), 0.2);
    border-radius: var(--bdr--radius);
    -webkit-border-radius: var(--bdr--radius);
    -moz-border-radius: var(--bdr--radius);
    -ms-border-radius: var(--bdr--radius);
    -o-border-radius: var(--bdr--radius);
}

.open-status__schedule.active {
    display: block;
}

.open-status__schedule span.open-status__schedule-date {
    display: inline-block;
    width: 85px;
}

.result-listing-actions {
    width: calc(60% - 80px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.result-listing-actions button.btn {
    min-width: unset;
    width: var(--width--full);
}

.search-actions-two-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.pharmacy-map__search-wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.pharmacy-map__search-wrapper-title .pharmacy-map__search-title {
    font-size: clamp(23px, 1.5vw, 38px);
    margin: 0;
}

.pharmacy-map__search-wrapper-toggle {
    background-color: rgb(var(--clr--lightblue));
    color: rgb(var(--clr--white));
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 10px 20px rgba(var(--clr--black), 0.149);
    border-radius: calc(var(--bdr--radius) * 1.5);
    -webkit-border-radius: calc(var(--bdr--radius) * 1.5);
    -moz-border-radius: calc(var(--bdr--radius) * 1.5);
    -ms-border-radius: calc(var(--bdr--radius) * 1.5);
    -o-border-radius: calc(var(--bdr--radius) * 1.5);
}