.fap-map-container {
    display: flex;
    gap: 15px;
}

.pharmacy-map__scroller-in-map {
    width: 550px;
    padding: 0 20px;
}

.pharmacy-map__scroller-in-map .pharmacy-map__pharmacy-details {
    width: calc(var(--width--full) - 65px);
}

.pharmacy-map__scroller-in-map .pharmacy-map__pharmacy-details .pharmacy-map__rating {
    color: rgb(var(--clr--yellow));
}

.pharmacy-map__scroller-in-map .pharmacy-map__pharmacy-details .pharmacy-map__unrating {
    color: rgb(209, 212, 221);
}

.pharmacy-map__scroller-in-map .pharmacy-map__pharmacy-details .pharmacy-map__pharmacy-type {
    color: rgb(var(--clr--blue), 0.6);
}

.pharmacy-map__scroller-in-map .open-status__schedule {
    left: inherit;
    right: 0;
}

span.pharmacy-map__details-direction-icon {
    color: rgb(var(--clr--lightblue));
}

.pharmacy-map__scroller-in-map .pharmacy-map__search-actions {
    width: var(--width--full);
}

.pharmacy-map__scroller-in-map .pharmacy-map__search-actions button {
    font-size: 16px;
}

.pharmacy-map__scroller-in-map .pharmacy-map__result-single-item {
    flex-wrap: wrap;
}

.pharmacy-map__search-result-filter {
    background-color: rgb(var(--clr--white));
    padding: 10px;
    width: calc(var(--width--full) + 20px);
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.single-service-map .pharmacy-map__search-result-filter {
    background-color: rgb(255, 249, 233);
}

.pharmacy-map__search-result-filter span.map-to-list-toggle {
    font-size: 21px;
    line-height: 1;
    position: unset;
    padding: 17px;
    width: 60px;
    text-align: center;
    background: rgb(var(--clr--blue));
    color: rgb(var(--clr--white));
}

#fap-map {
    width: calc(var(--width--full) - 300px);
    height: 700px;
    background-color: rgb(240, 240, 240);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

/* Map Popup */
.fap-map-popup {
    width: 600px;
    padding: 20px;
    background: rgba(var(--clr--white), 0.4);
    border: 1px solid rgba(var(--clr--white));
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
    position: relative;
}

.fap-map-popup .fap-map-popup__details {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.fap-map-popup .fap-map-popup__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.fap-map-popup .fap-map-popup__pharmacy-icon img {
    width: 50px;
}

.fap-map-popup .fap-map-popup__single-pharmacy {
    width: calc(var(--width--full) - 65px);
}

.fap-map-popup .fap-map-popup__more-actions {
    width: var(--width--full);
}

.fap-map-popup .fap-map-popup__specialities {
    font-size: 15x;
    display: flex;
    gap: 10px;
}