.our-services__title-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.our-services__title-wrapper .fap-card-title,
form#fap-service-search {
    width: calc(var(--width--full) / 2);
}

form#service-search {
    width: calc(var(--width--full) - 420px);
    margin: 35px 0 0 420px;
}

.breadscrumb__search form#breadscrumb-search {
    width: calc(var(--width--full) - 420px);
    margin: 35px auto 0;
}

.title-with-pretitle {
    font-size: clamp(23px, 1.7vw, 38px);
}

form#fap-service-search .search-wrapper ,
form#service-search .search-wrapper,
form#breadscrumb-search .search-wrapper {
    display: flex;
}

form#fap-service-search .search-wrapper button.btn,
form#service-search .search-wrapper button.btn,
form#breadscrumb-search .search-wrapper button.btn {
    margin-left: -45px;
}

.fap-card-item {
    height: 100%;
    padding: 20px;
    background-color: rgb(var(--clr--white));
    box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.1);
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
    display: flex;
    flex-direction: column;
}

.fap-card-item:hover {
    background: rgba(var(--clr--lightblue),.3);
}

.fap-card-item.services-coming-soon {
    background-color: rgb(var(--clr--lightyellow));
    display: flex;
    flex-direction: column;
}

.fap-card-item.services-coming-soon:hover {
    background-color: rgba(var(--clr--lightblue),.2);
}

.fap-card-item.services-coming-soon .coming-soon-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fap-card-item .fap-card-image-wrapper {
    position: relative;
}

.fap-card-item .fap-card-image-wrapper img.fap-card-image {
    width: var(--width--full);
    height: 170px;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: var(--box--shadow) rgba(var(--clr--blue), 0.1);
    border-radius: calc(var(--bdr--radius) * 2);
    -webkit-border-radius: calc(var(--bdr--radius) * 2);
    -moz-border-radius: calc(var(--bdr--radius) * 2);
    -ms-border-radius: calc(var(--bdr--radius) * 2);
    -o-border-radius: calc(var(--bdr--radius) * 2);
}

.fap-card-item .fap-card-image-wrapper span.our-services__icon {
    width: 60px;
    height: 60px;
    background-color: rgb(var(--clr--blue));
    padding: 15px;
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: var(--bdr--radius--round);
    -webkit-border-radius: var(--bdr--radius--round);
    -moz-border-radius: var(--bdr--radius--round);
    -ms-border-radius: var(--bdr--radius--round);
    -o-border-radius: var(--bdr--radius--round);
    box-shadow: var(--box--shadow) rgba(var(--clr--black), 0.1);
}

.fap-card-item .fap-card-title {
    font-size: clamp(18px, 1.1vw, 27px);
    flex-grow: 1;
}

.fap-card-item.services-coming-soon .fap-card-image-wrapper span.our-services__icon {
    background-color: rgb(var(--clr--yellow));
}

.fap-card-item .fap-card-image-wrapper span.our-services__icon img {
    width: 30px;
    height: 30px;
}

.fap-card-item.services-coming-soon .fap-card-title {
    font-size: clamp(23px, 1.5vw, 38px);
    flex-grow: unset;
}

.fap-card-item .fap-card-description {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* ----- What We Offer - Services Page ----- */
.our-services {
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
    position: relative;
}

/* ----- Other Services - Services Page */
.other-services {
    background-color: rgb(255, 253, 248);
    padding-top: 30px;
    margin-top: -30px;
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
}

/* ----- Single Services ----- */
.single-service {
    background-color: rgb(255, 249, 233);
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
    position: relative;
    margin-bottom: -30px;
}

.services__list-wrapper {
    background-color: rgb(255, 238, 192);
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(var(--clr--yellow));
    border-radius: calc(var(--bdr--radius) * 3);
    -webkit-border-radius: calc(var(--bdr--radius) * 3);
    -moz-border-radius: calc(var(--bdr--radius) * 3);
    -ms-border-radius: calc(var(--bdr--radius) * 3);
    -o-border-radius: calc(var(--bdr--radius) * 3);
}

/* ----- Related Services ----- */
.related-services {
    background-color: rgb(252, 252, 252);
    padding-top: 30px;
    border-radius: var(--bdr--radius--bottom);
    -webkit-border-radius: var(--bdr--radius--bottom);
    -moz-border-radius: var(--bdr--radius--bottom);
    -ms-border-radius: var(--bdr--radius--bottom);
    -o-border-radius: var(--bdr--radius--bottom);
}

.related-services__wrapper {
    display: flex;
    gap: 45px;
}

.related-services__wrapper .related-services__title-wrapper {
    width: 350px;
}

.related-services__wrapper .related-services__title {
    font-size: clamp(23px, 1.5vw, 38px);
    margin-top: 35px;
}

.related-services__wrapper .services__sub-services {
    width: calc(var(--width--full) - 395px);
}